@{
    Layout = "~/Views/Shared/_LayoutNavigationBar.cshtml";
    ViewBag.Title = "待领取奖品";
}

@section styles{
    <style type="text/css">
        /*col-its-a*/

        .btn {
            height: 2.1rem;
            width: 98%;
            background: #ff6c8d;
            color: #fff;
            line-height: 2.1rem;
            border-radius: 50px;
            text-align: center;
            display: inline-block;
            font-size: 1rem;
        }

        .its-odcskus .it {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #f8f8f8;
            padding: 5px 0px;
        }

        .its-odcskus .it:last-child {
            border-bottom: 0px solid #f8f8f8;
        }

        .its-odcskus .it-l {
            display: inline-block;
            overflow: hidden;
            text-align: right;
        }

        .its-odcskus .it-l .imgUrl {
            align-items: center;
            display: flex;
        }

        .its-odcskus .it-l .imgUrl .img {
            width: 4.4rem;
            height: 4.4rem;
        }

        .its-odcskus .it-m {
            flex: 1;
            display: flex;
        }

        .its-odcskus .it-ml {
            flex: 1;
            line-height: 1.4rem;
            align-items: center;
            display: flex;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-box-orient: vertical;
            padding-left: .3rem;
        }

        .its-odcskus .it-mr {
            text-align: center;
            width: 3rem;
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }

        .its-odcskus .it-r {
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            margin-left: 1rem;
        }

        .its-odcskus .name {
            font-size: .9rem;
        }

        .its-odcskus .quantity {
            font-size: 0.8rem;
            color: #999;
        }

        .its-odcskus .salePrice {
            color: #f18d00;
            font-size: 1.2rem;
        }



        .dialog-confirm {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 99999;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
        }

        .dialog-confirm > .content {
            position: relative;
            width: 70%;
            height: 9rem;
            top: 30%;
            z-index: 110;
            margin: 0 auto;
            background: #fff;
            border-radius: 3px;
        }

        .dialog-confirm .tips {
            position: absolute;
            top: 0;
            width: 100%;
            vertical-align: middle;
            height: 5.95rem;
            text-align: center;
            line-height: 5.95rem;
            font-size: 18px;
            color: #111111;
        }

        .dialog-confirm .tips span {
            display: block;
            width: 100%;
        }

        .dialog-confirm .btnarea {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: -webkit-box;
            display: -moz-box;
            text-align: center;
            height: 2.875rem;
            line-height: 2.875rem;
            font-size: 18px;
        }

        .dialog-confirm .btnarea div {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            /*padding: 0.5rem 0;*/
            cursor: pointer;
        }

        .dialog-confirm .btnarea div:first-child {
            border-top: 1px solid #f8f8f8;
            color: #111111;
        }

          .dialog-confirm .btnarea div:last-child {
            border-top: 1px solid #f8f8f8;
            color: #ff6c8d;
        }

 
    </style>
}

@section headerleft{
    <span class="title">待领取奖品</span>
}

<div id="page" class="gbr-row gbr-page">
    <div id="giftGive">


    </div>

</div>

<div id="dialog_confirm" class="dialog-confirm">
    <div class="content">
        <div class="tips">
            <span class="tips_txt">

            </span>
        </div>
        <div class="btnarea">
            <div class="btn-cancel operate">
                <span>
                    取消
                </span>
            </div>
            <div class="btn-sure operate">
                <span>
                    确定
                </span>
            </div>
        </div>
    </div>
</div>


<script id="giftGive_tmpl" type="text/x-jquery-tmpl">
    <div class="its-odcskus orderSkus">
        {{each(j,it) skus}}
        <div class="it">
            <div class="it-l">
                <div class="imgUrl">
                    <image class="img" src="${it.imgUrl}"></image>
                </div>
            </div>
            <div class="it-m">
                <div class="it-ml">
                    <text class='name'>${it.name}</text>
                </div>
                <div class="it-mr">
                    <text class='quantity'> x ${it.quantity}</text>
                </div>
            </div>
            <div class="it-r">
                <text class='salePrice'> ${it.salePrice}</text>
            </div>
        </div>
        {{/each}}

        {{if skus.length>0 }}
        <p style="color:red;font-size:12px;line-height:32px;padding-left:10px;">*提示：请出示给工作人员，然后再点击确认领取</p>
        <div style="text-align:center;padding:20px;">
            <span id="btn_OpenDialogConfirm" class="btn" operate="get" isone="true">确认领取</span>
        </div>
        {{else}}

        <div class="list-result" style="display:block">
            <div class="img">
                <img src="/Content/images/list_icon_empty.png" />
            </div>
            <div class="tips">
                <span>没有可领取的奖品</span>
            </div>
        </div>

        {{/if}}
    </div>
</script>

@section scripts{


    <script type="text/javascript">

        $(document).ready(function () {

            onLoad();

            $('#btn_OpenDialogConfirm').live("click", function () {

                var dialog_confirm = $("#dialog_confirm");

                $(dialog_confirm).show();
                $(dialog_confirm).find(".tips_txt").text("确定已领取奖品？");

                $(dialog_confirm).on("touchmove", function (e) {
                    e.preventDefault();
                });

                $(dialog_confirm).on("mousewheel", function (e) {
                    e.preventDefault();
                });

                $(dialog_confirm).find(".btn-cancel").off("click");
                $(dialog_confirm).find(".btn-cancel").on("click", function () {
                    $(dialog_confirm).hide();
                });


                $(dialog_confirm).find(".btn-sure").off("click");
                $(dialog_confirm).find(".btn-sure").on("click", function () {


                    $.lumos.postJson({
                        url: "/GiftGive/Take",
                        isShowLoading: true,
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                onLoad();
                                $(dialog_confirm).hide();
                            }
                        }
                    });

                });



            });

        });

        function onLoad() {

            $.lumos.postJson({
                url: "/GiftGive/GetMy",
                isShowLoading: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $('#giftGive').html($("#giftGive_tmpl").tmpl(data));
                    }
                }
            });
        }
    </script>
}
