@{
    Layout = "~/Views/Shared/_LayoutNavigationBar.cshtml";
    ViewBag.Title = "待领取奖品";
}

@section styles{
    <style type="text/css">
        /*col-its-a*/

        .its-odcskus .it {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #f8f8f8;
            padding: 5px 0px;
        }

        .its-odcskus .it:last-child {
            border-bottom: 0px solid #f8f8f8;
        }

        .its-odcskus .it-l {
            display: inline-block;
            overflow: hidden;
            text-align: right;
        }

        .its-odcskus .it-l .imgUrl {
            align-items: center;
            display: flex;
        }

        .its-odcskus .it-l .imgUrl .img {
            width: 4.4rem;
            height: 4.4rem;
        }

        .its-odcskus .it-m {
            flex: 1;
            display: flex;
        }

        .its-odcskus .it-ml {
            flex: 1;
            line-height: 1.4rem;
            align-items: center;
            display: flex;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-box-orient: vertical;
            padding-left: .3rem;
        }

        .its-odcskus .it-mr {
            text-align: center;
            width: 3rem;
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }

        .its-odcskus .it-r {
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            margin-left: 1rem;
        }

        .its-odcskus .name {
            font-size: .9rem;
        }

        .its-odcskus .quantity {
            font-size: 0.8rem;
            color: #999;
        }

        .its-odcskus .salePrice {
            color: #f18d00;
            font-size: 1.2rem;
        }
    </style>
}

@section headerleft{
    <span class="title">待领取奖品</span>
}

<div id="mypage">


</div>

<script id="page_tmpl" type="text/x-jquery-tmpl">
    <div class="its-odcskus orderSkus">
        {{each(j,it) skus}}
        <div class="it">
            <div class="it-l">
                <div class="imgUrl">
                    <image class="img" src="${it.imgUrl}"></image>
                </div>
            </div>
            <div class="it-m">
                <div class="it-ml">
                    <text class='name'>${it.name}</text>
                </div>
                <div class="it-mr">
                    <text class='quantity'> x ${it.quantity}</text>
                </div>
            </div>
            <div class="it-r">
                <text class='salePrice'> ${it.salePrice}</text>
            </div>
        </div>
        {{/each}}
    </div>
</script>

@section scripts{


    <script type="text/javascript">

        $(document).ready(function () {
            onLoad();
        });

        function onLoad() {

            $.lumos.postJson({
                url: "/GiftGive/GetMy",
                isShowLoading: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $('#mypage').html($("#page_tmpl").tmpl(data));
                    }
                    else {
                        $('#operate_result').html($("#operate_result_tmpl").tmpl(d.data));
                    }
                }
            });
        }
    </script>
}
