@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style type="text/css">
        .popd {
            /*display: none;*/
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: fixed;
            background: rgba(0,0,0,0.3);
            z-index: 100;
        }

        .popd-outer {
            position: absolute;
            left: 50%;
            top: 50%;
        }

        .popd-inter {
            width: 300px;
            height: 340px;
            position: absolute;
            left: -150px;
            top: -170px;
            border: 2px solid #fff;
            background: #fff;
            border-radius: 10px 9px 5px 8px;
        }

        .list-input-item .item-name {
            width: 140px;
            padding-right: 5px;
            color: #fb6088;
        }

        .radio {
            width: 23px;
            height: 23px;
            border-radius: 50%;
            position: relative;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255,0,0,0);
            outline: none;
            border: none;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .radio::after {
            content: '';
            width: 23px;
            height: 23px;
            -webkit-appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid gray;
            border-radius: 50%;
            padding: 0.4rem;
            background-clip: content-box;
            box-sizing: border-box;
        }

        .radio:checked::after {
            outline: none;
            background-color: #dc3729;
            border: 1px solid #dc3729;
            background-clip: content-box;
            -webkit-appearance: none;
            background-repeat: repeat;
            -webkit-background-clip: content-box;
            -webkit-text-fill-color: #dc3729;
        }
    </style>
}
@*<img class="btn-com" id="btn_GoInvite" src="${bg4GoInvite}" style="margin-left:15px;display: inline-block" />*@



<script id="config_tmpl" type="text/x-jquery-tmpl">

    <div>
        <img src="${bg01}" />
    </div>
    <div style="position: relative;">
        <img src="${bg02}" />
        <div style="position: absolute;width: 100%;height: 100%;top: 0;align-items: center;justify-content: center; display: flex;">

            {{if isEnd}}
            <div style="width:100%;top:0px;text-align: center;font-size:24px;color:#f53300;">
                <p>${endDesc}</p>
            </div>
            {{/if}}

            {{if isStart}}
            {{if isNeedBuy}}
            <div style="width:50%;float:left;text-align: right;">
                <img class="btn-com" id="btn_GetCoupon" src="${bg4GoBuy}" style="margin-right:15px;display: inline-block;cursor:pointer" />
            </div>
            {{else}}
            <div style="width:50%;float:left;text-align: right;">
                <img class="btn-com" id="btn_GetCoupon" src="${bg4GetCoupon}" style="margin-right:15px;display: inline-block;cursor:pointer" />
            </div>
            {{/if}}
            <div style="width:50%;float:left;text-align:left;">
                <img class="btn-com" id="btn_GoInvite" src="${bg4GoInvite}" style="margin-left:15px;display: inline-block;cursor:pointer" />
            </div>
            {{else}}

            <div style="width:100%;top:0px;text-align: center;font-size:24px;color:#f53300;">
                <p>${noStartDesc}</p>
            </div>

            {{/if}}

        </div>
    </div>
    <div style="position: relative;">
        <img src="${bg03}" />
        <a href="/Personal/Index">
            <img class="btn-com" id="btn_GoPersonal" src="${bg4GoPersonal}" style="margin-right:15px;display: inline-block;    bottom: 12%;  right: 5%;    position: absolute;" />
        </a>
    </div>

</script>

<div class="gbr gbr-main">
    <div id="config">

    </div>
</div>

<div class="popd" style="display:none">
    <div class="popd-outer">

        <div class="popd-inter">
            <div class="popd-close" style="position: absolute; right: -6px;top:-16px;"> <img src="~/Content/images/promote20180910/popd_close.png" style="width:32px;height:32px;" /></div>
            <div>
                <p style="color:#fb6088;text-align:center;font-size:18px;font-weight:bold; line-height:24px;margin-top:20px;">领取卡券</p>
                <p style="color:#fb6088;text-align:center;font-size:18px;font-weight:bold; line-height:24px;">请先填写以下信息</p>

                <div style="margin-top:20px;margin-bottom:20px;">

                    <ul class="list-input" style="overflow:hidden">
                        <li class="list-input-item">
                            <div class="item-left fl">
                                <div class="item-name  fl"><span>姓名</span></div>
                                <div class="item-value fr">

                                    <input id="txt_ctName" placeholder="请输入姓名" type="text" style="width:100%;" />

                                </div>
                            </div>
                        </li>
                        <li class="list-input-item">
                            <div class="item-left fl">
                                <div class="item-name fl"><span>手机号码</span></div>
                                <div class="item-value fr">

                                    <input id="txt_ctPhone" placeholder="请输入手机号码" type="text" style="width:100%;" />

                                </div>
                            </div>
                        </li>
                        <li class="list-input-item">
                            <div class="item-left fl">
                                <div class="item-name fl"><span>是否学员</span></div>
                                <div class="item-value fr">

                                    <span> <input id="rd_ctIsStudent_1" name="rd_ctIsStudent" class="radio" type="radio" value="1" checked /><label for="rd_ctIsStudent_1">是</label> </span>
                                    <span> <input id="rd_ctIsStudent_0" name="rd_ctIsStudent" class="radio" type="radio" value="0" /><label for="rd_ctIsStudent_0">否</label> </span>
                                </div>
                            </div>
                        </li>
                        <li class="list-input-item">
                            <div class="item-left fl">
                                <div class="item-name fl"><span>校区选择</span></div>
                                <div class="item-value fr">

                                    <select id="sel_ctSchool">
                                        <option value="">请选择</option>
                                        <option value="越秀校">越秀校</option>
                                        <option value="天润校">天润校</option>
                                        <option value="合生广场校">合生广场校</option>
                                        <option value="光大花园校">光大花园校</option>
                                        <option value="嘉仕花园校">嘉仕花园校</option>
                                        <option value="珠江帝景校">珠江帝景校</option>
                                        <option value="颐景华苑校">颐景华苑校</option>
                                        <option value="洛溪校">洛溪校</option>
                                        <option value="喜盈雅境校">喜盈雅境校</option>
                                        <option value="花样年华校">花样年华校</option>
                                        <option value="金沙御苑校">金沙御苑校</option>
                                        <option value="金海岸校">金海岸校</option>
                                        <option value="金沙洲校">金沙洲校</option>
                                        <option value="华发四季校">华发四季校</option>
                                        <option value="白云尚城校">白云尚城校</option>
                                        <option value="增城新塘校">增城新塘校</option>
                                        <option value="增城凤凰城校">增城凤凰城校</option>
                                        <option value="中海金沙湾校">中海金沙湾校</option>
                                        <option value="千灯湖校">千灯湖校</option>
                                        <option value="深圳龙岗校">深圳龙岗校</option>
                                        <option value="深圳宝安校">深圳宝安校</option>
                                    </select>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="text-align:center;">
                    <img id="btn_Pop_Sure" src="~/Content/images/promote20180910/btn_submit.png" class="btn-com" style="display: inline-block;" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var pConfig;

        $(document).ready(function () {


            $.lumos.getJson({
                url: "/Promotec/GetConfig",
                isShowLoading: false,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        pConfig = d.data;
                        document.title = pConfig.title;//更改网页标题
                        $('#config').html($("#config_tmpl").tmpl(pConfig));
                        initShareInfo();
                        initGetCoupon();
                    }
                }
            });


            $("#modal_Invite").live("click", function (e) {
                $("#modal_Invite").hide();
            });

            $('#btn_GoInvite').live("click", function () {

                var scrollTop = document.body.scrollTop;//网页被卷去的高
                $("#modal_Invite").css({ top: scrollTop + "px" });
                $("#modal_Invite").show();
                $("#share_container").show();

                $('#modal_Invite').bind("touchmove",
                    function (e) {
                        e.preventDefault();
                    });
                $("#modal_Invite").bind("mousewheel",
                    function (e) {
                        //阻止浏览器默认方法
                        e.preventDefault();
                    });
            });

            $('#btn_Pop_Sure').live("click", function () {

                var ctName = $('#txt_ctName').val();
                var ctPhone = $('#txt_ctPhone').val();
                var ctIsStudent = $('input[name=rd_ctIsStudent]:checked').val();
                var ctSchool = $('#sel_ctSchool').find('option:selected').val();

                if ($.lumos.isNullOrEmpty(ctName)) {
                    $.lumos.tips("请输入姓名");
                    return false;
                }

                if ($.lumos.isNullOrEmpty(ctPhone)) {
                    $.lumos.tips("请输入电话号码");
                    return false;
                }

                if ($.lumos.isNullOrEmpty(ctSchool)) {
                    $.lumos.tips("请选择校区");
                    return false;
                }

                $.lumos.postJson({
                    url: "/Promote/EditPromoteUserInfo",
                    isShowLoading: true,
                    data: { promoteId: pConfig.promoteId, ctName: ctName, ctPhone: ctPhone, ctIsStudent: ctIsStudent, ctSchool: ctSchool },
                    success: function (d) {
                        if (d.result == $.lumos.resultType.success) {
                            $('.popd').hide();
                            getCard();
                        }
                    }
                });
            });

            $(".popd-close").live("click", function (e) {
                $(".popd").hide();
            });

        });

        function initShareInfo() {

            var promoteId = pConfig.promoteId;
            var refereeId = pConfig.refereeId;
            var shareTitle = pConfig.shareTitle;
            var shareDesc = pConfig.shareDesc;
            var shareLink = 'http://qyj.17fanju.com/Promotec/Coupon?promoteId=' + promoteId + '&refereeId=' + refereeId;
            var shareImgUrl = pConfig.shareImgUrl;
            wx.ready(function () {

                wx.onMenuShareAppMessage({
                    title: shareTitle,
                    desc: shareDesc,
                    link: shareLink,
                    imgUrl: shareImgUrl,
                    trigger: function (res) {
                    },
                    success: function (res) {
                        shareLog(promoteId, refereeId, shareLink, 1);
                    },
                    cancel: function (res) {
                    },
                    fail: function (res) {
                    }
                });

                wx.onMenuShareTimeline({
                    title: shareTitle,
                    link: shareLink,
                    imgUrl: shareImgUrl,
                    trigger: function (res) {
                    },
                    success: function (res) {
                        shareLog(promoteId, refereeId, shareLink, 2);
                    },
                    cancel: function (res) {
                    },
                    fail: function (res) {
                    }
                });

            });

        }

        function initGetCoupon() {
            $("#btn_GetCoupon").live("click", function () {
                var _this = $(this);

                $(_this).attr("disabled", "disabled");

                $.lumos.postJson({
                    url: "/Promote/UnifiedOrder",
                    isShowLoading: true,
                    data: { type: "1", refereeId: pConfig.refereeId, orderPms: { promoteId: pConfig.promoteId, promoteCouponId: pConfig.promoteCouponId } },
                    success: function (d) {
                        if (d.result == $.lumos.resultType.success) {
                            var params = d.data;
                            getCard(params.orderSn);
                        } else {
                            $.lumos.tips(d.message);
                            $(_this).removeAttr("disabled");
                        }
                    }
                });
            });
        }

        function getCard(orderSn) {

            $.lumos.postJson({
                url: "/Promote/GetCardList",
                data: { promoteId: pConfig.promoteId },
                isShowLoading: true,
                success: function (d) {
                    
                    if (d.result == $.lumos.resultType.success) {
                        var cards = d.data;
                        var cardList = [];
                        for (var p in cards) {
                            cardList.push({ cardId: cards[p].cardId, cardExt: cards[p].cardExt });
                        }
                     
                        wx.addCard({
                            cardList: cardList,
                            success: function (res) {
                                addCouponNotifyResult(orderSn, res.cardList);
                            },
                            cancel: function (res) {
                               
                            }
                        });
                    }
                    else {
                        if (d.code == "4001") {
                            $('.popd').show();
                        }
                        else {
                            $.lumos.tips(d.messages);
                        }
                    }
                }
            });
        }

        function addCouponNotifyResult(orderSn, cards) {

            var l_Data = [];

            l_Data.push({ name: "Model.PromoteId", value: pConfig.promoteId });

            $.each(cards, function (i, row) {
                l_Data.push({ name: "Model.Coupons[" + i + "].WxCouponId", value: row.cardId });
                l_Data.push({ name: "Model.Coupons[" + i + "].WxCouponEncryptCode", value: row.code });
            });

            $.lumos.postJson({
                url: "/Promote/AddCouponNotifyResult",
                data: l_Data,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        $.lumos.tips('成功领取卡券');
                        window.location.href = "/Promotec/PayResult?promoteId=" + pConfig.promoteId + "&orderSn=" + orderSn + "&isSuccessed=True";
                    }
                }
            });
        }


    </script>
}
