@{
    ViewBag.Title = "资金流水";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <style type="text/css">
        .operate-result {
           padding:0 1rem;
        }

        .operate-result .imgbox {
            text-align: center;
            margin-top: 4rem;
        }

        .operate-result .imgbox img {
            width: 100px;
            display: inline-block;
        }

        .operate-result .item-message {
            text-align: center;
            margin-top: 1rem;
        }

        .operate-result .item-message span {
            font-size: 1.2rem;
            line-height: 3rem;
            color:#ff6c8d;
        }

        .operate-result .item-remarks {
            margin-top: 1rem;
        }

        .operate-result .item-remarks p {
            font-size: .9rem;
            line-height: 1.4rem;
        }

        .operate-result .item-btn {
            display: flex;
            padding: 10px 0px;
        }

        .operate-result .item-btn .btnbox {
            flex: 1;
            text-align: center;
        }


        .operate-result .btn {
            border: 1px solid #000;
            border-radius: 18px;
            padding: 8px 20px;
            display: inline-block;
        }
    </style>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var value = sessionStorage.getItem("result");
            var message = sessionStorage.getItem("message");
            var remarks = sessionStorage.getItem("remarks");


            var obj_message = $('.operate-result .item-message span');
            var obj_remarks = $('.operate-result .item-remarks p');

            $(obj_message).text(message);
            $(obj_remarks).text(remarks);
        });


    </script>
}

<div class="operate-result">
    <div class="item-result">
        <div class="imgbox">
            <img src="~/Content/images/operate-result-icon-success.png" />
        </div>
    </div>
    <div class="item-message">
        <span></span>
    </div>

    <div class="item-btn">
        <div class="btnbox">
            <a href="/Withdraw/Apply" class="btn">继续提现</a>
        </div>
        <div class="btnbox">
            <a href="/Personal/Index" class="btn">回到首页</a>
        </div>
    </div>

    <div class="item-remarks">
        <p></p>
    </div>
</div>