@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/swiper.min.css" rel="stylesheet" />
    <style type="text/css">
        .ct-main {
            margin-bottom: 3.2rem;
        }

        .swiper, .summary, .details {
            padding-left: .6rem;
            padding-right: .6rem;
        }

        .swiper {
            margin-top: .6rem;
        }

        .summary {
            margin-top: .6rem;
            margin-bottom: .6rem;
        }

        .summary .name {
            font-weight: bold;
            line-height: 1.8rem;
        }

        .summary .salePrice {
            font-size: 1.8rem;
        }

        .summary .showPrice {
            text-decoration: line-through;
            margin-left: .6rem;
        }

        .summary .it-briefTags {
            display: flex;
        }

        .summary .briefTag {
            border-radius: 5px;
            padding: .3rem .8rem;
            font-size: .8rem;
            margin-right: .6rem;
        }

        .summary .it-timedown {
            margin-top: .6rem;
        }

        .details {
        }

        .details .its-tabs {
            display: flex;
            margin-bottom: .6rem;
        }

        .details .its-tabs .it {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 3rem;
            border-bottom: 2px solid #ff6c8d;
        }

        .ct-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            position: fixed;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 3.2rem;
            line-height: 3.2rem;
            border-top: 1px #dbdbdb solid;
            overflow: hidden;
            z-index: 999;
        }

        .ct-nav .it-buy {
            width: 100%;
            text-align: center;
        }

        .ct-nav .true {
            background: #ff6c8d;
        }

        .ct-nav .false {
            background: #999;
        }


        .time-item .it {
            background: #C71C60;
            color: #fff;
            line-height: 2rem;
            font-size: 1.2rem;
            font-family: Arial;
            padding: 3px 5px;
            margin-right: 5px;
            border-radius: 5px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        }

        .time-item .title_show {
            border-radius: 0;
            color: #000;
            background: #fff;
            padding-left: 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        }

        .time-item .day_show {
            color: #c71c60;
            background: #fff;
        }
    </style>
}

<script id="page_tmpl" type="text/x-jquery-tmpl">
    <div class="ct-main">
        <div class="swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {{each(j,item) displayImgUrls}}
                    <div class="swiper-slide"> <img src="${item.imgUrl}" /></div>
                    {{/each}}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="summary">
            <div class="ct">
                <div class="it-name">
                    <p class="name">${name}</p>
                </div>
                <div class="it-briefInfo font-gray">
                    <span class="briefInfo"></span>
                </div>
                <div class="it-price">
                    <span class="salePrice cl2ft-main">¥${salePrice}</span>
                    {{if !showPriceIsInVisiable}}
                    <span class="showPrice cl2ft-gray1">¥${showPrice}</span>
                    {{/if}}

                </div>
                <div class="it-briefTags">
                    {{each(j,tag) briefTags}}
                    <span class="briefTag cl2ft-white cl2bg-main">${tag}</span>
                    {{/each}}
                </div>

                {{if isFlashSale}}
                <div id="first" class="it-timedown time-item">
                    <span class="it title_show">距开始还剩</span>
                    <span class="it day_show">0天</span>
                    <span class="it hour_show">0时</span>
                    <span class="it minute_show">0分</span>
                    <span class="it second_show">0秒</span>
                </div>
                {{/if}}

            </div>
        </div>
        <div class="line-space"></div>
        <div class="details">
            <div class="its-tabs">
                <div class="it"><span class="txt ft-main">商品详情</span></div>
            </div>
            <div class="its-ct">
                <div class="it it-detailsDes">
                    {{html detailsDes}}
                </div>
            </div>
        </div>
    </div>
    <div class="ct-nav">
        <div class="it-buy operate ${buyBtn.enabled}" id="btn_Buy"><span class="txt">${buyBtn.text}</span></div>
    </div>
</script>

@section scripts{
    <script src="~/Scripts/swiper.min.js"></script>

    <script type="text/javascript">

        var promoteId = $.lumos.getUrlParamValue("promoteId");
        var skuId = $.lumos.getUrlParamValue("skuId");

        $(document).ready(function () {

            onLoad();

            $('.ct-nav .true').live("click", function (e) {
                unifiedOrder();
            });
        });

        function onLoad() {

            $.lumos.getJson({
                url: "/ProductSku/GetDetails",
                urlParams: { promoteId: promoteId, skuId: skuId },
                isShowLoading: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        //alert(JSON.stringify(d))
                        var data = d.data;
                        document.title = data.name;;//更改网页标题
                        $('#page').html($("#page_tmpl").tmpl(data));

                        var mySwiper = new Swiper('.swiper-container', {
                            loop: true,
                            // 如果需要分页器
                            pagination: '.swiper-pagination',
                            paginationClickable: true
                        });
                  
                        timer(data.flashSaleStSecond, data.flashSaleEnSecond, data.isCanBuy, '#first');
                    }
                    else {
                        $('#operate_result').html($("#operate_result_tmpl").tmpl(d.data));
                    }
                }
            });
        }

        function unifiedOrder() {

            $.lumos.postJson({
                url: "/ProductSku/UnifiedOrder",
                isShowLoading: true,
                data: { promoteId: promoteId, skuId: skuId },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var params = d.data;

                        wx.chooseWXPay({
                            appId: params.appId,
                            timestamp: params.timestamp,
                            nonceStr: params.nonceStr,
                            package: params.package,
                            signType: params.signType,
                            paySign: params.paySign,
                            success: function (res) {
                                $.lumos.tips('您已支付成功');
                                window.location.href = "/Operate/Result?id=" + params.orderId + "&type=1";
                            },
                            cancel: function (res) {
                                $.lumos.tips('您已取消支付');
                            }
                        });


                    } else {
                        $.lumos.tips(d.message);
                    }
                }
            });

        }


        var isSetFlashSaleStSecond = false;
        var isSetFlashSaleEnSecond = false;
        var flashSaleStSecond = 0;
        var flashSaleEnSecond = 0;
        var intDiff = 0;

        function timer(stSecond, enSecond, isCanBuy, idName) {
            flashSaleStSecond = stSecond;
            flashSaleEnSecond = enSecond;
            var title_show = $('.title_show');


            var interval = window.setInterval(function () {
                var day = 0,
                    hour = 0,
                    minute = 0,
                    second = 0; //时间默认值

                if (flashSaleStSecond > 0) {

                    $(title_show).text("距开始还剩");

                    if (!isSetFlashSaleStSecond) {
                        intDiff = stSecond;
                        isSetFlashSaleStSecond = true;
                    }

                    flashSaleStSecond--;
                }
                else if (flashSaleEnSecond > 0) {
                    $(title_show).text("距结束还剩");
                    if (!isSetFlashSaleEnSecond) {
                        intDiff = enSecond;
                        isSetFlashSaleEnSecond = true;

                        if (isCanBuy) {
                            $('#btn_Buy').removeClass('false')
                            $('#btn_Buy').addClass('true')
                        }
                    }

                    flashSaleEnSecond--;
                }
                else {
                    $(title_show).text("已结束");

                    $('#btn_Buy').addClass('false')
                    $('#btn_Buy').removeClass('true')
                }

                if (intDiff > 0) {
                    day = Math.floor(intDiff / (60 * 60 * 24));
                    hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                    minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                }
                else {
                    //clearInterval(interval);

                    //intDiff = enSecond;

                    //if (enSecond > 0) {

                    //}
                }


                if (minute <= 9) minute = '0' + minute;
                if (second <= 9) second = '0' + second;
                $(idName + ' .day_show').html(day + "天");
                $(idName + ' .hour_show').html('<s id="h"></s>' + hour + '时');
                $(idName + ' .minute_show').html('<s></s>' + minute + '分');
                $(idName + ' .second_show').html('<s></s>' + second + '秒');
                intDiff--;

            }, 1000);
        }
    </script>
}
