@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "订单详情";
}

@section styles{
    <style type="text/css">
        /*col-its-a*/


        .summary, .fieldBlock, .orderSkus {
            padding: .6rem;
        }

        /*.summary, .fieldBlock, .orderSkus{
           padding-top:.6rem;
            padding-bottom:.6rem;
         }*/


        .its-b {
            border-top: 0px solid #f6f6f6;
        }

        .its-b .it {
            display: flex;
            font-size: .9rem;
            height: 1.6rem;
        }

        .its-b .it-l {
            border-bottom-width: 0;
            margin-right: .2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .its-b .it-l .txt {
        }


        .its-b .it-m {
            flex: 1;
            display: flex;
        }

        .its-b .it-ml {
            flex: 1;
            overflow: hidden;
            text-align: left;
            align-items: center;
            display: flex;
            justify-content: flex-start;
        }

        .its-b .it-mr {
            flex: 1;
            overflow: hidden;
            text-align: right;
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }

        .its-b .it-r {
            width: 20px;
            overflow: hidden;
            text-align: right;
            flex: none;
            border-bottom-width: 0;
        }


        .its-b .it-ml .txt {
            text-align: left;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .its-b .it-mr .txt {
            height: 3rem;
            line-height: 3rem;
            text-align: right;
            font-size: 0.8rem;
        }

        .its-b .it:last-child .it-m {
            border-bottom-width: 0;
        }

        .its-b .flex1 {
            flex: 1;
        }

        .its-b .w100 {
            flex: none;
            width: 100px;
        }


        .its-odcskus .it {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #f8f8f8;
            padding: 5px 0px;
        }

        .its-odcskus .it:last-child {
            border-bottom: 0px solid #f8f8f8;
        }

        .its-odcskus .it-l {
            display: inline-block;
            overflow: hidden;
            text-align: right;
        }

        .its-odcskus .it-l .imgUrl {
            align-items: center;
            display: flex;
        }

        .its-odcskus .it-l .imgUrl .img {
            width: 4.4rem;
            height: 4.4rem;
        }

        .its-odcskus .it-m {
            flex: 1;
            display: flex;
        }

        .its-odcskus .it-ml {
            flex: 1;
            line-height: 1.4rem;
            align-items: center;
            display: flex;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-box-orient: vertical;
            padding-left: .3rem;
        }

        .its-odcskus .it-mr {
            text-align: center;
            width: 3rem;
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }

        .its-odcskus .it-r {
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            margin-left: 1rem;
        }

        .its-odcskus .name {
            font-size: .9rem;
        }

        .its-odcskus .quantity {
            font-size: 0.8rem;
            color: #999;
        }

        .its-odcskus .salePrice {
            color: #f18d00;
            font-size: 1.2rem;
        }
    </style>
}


<div id="page" class="gbr-row gbr-page">

</div>

<script id="page_tmpl" type="text/x-jquery-tmpl">

    <div class="its-b summary">
        <div class="it">
            <div class="it-l">
                <text class='txt cl2ft-fldn'>订单状态：</text>
            </div>
            <div class="it-m">
                <div class="it-ml cl2ft-fldv"> <text class='txt'>${statusName}</text></div>
            </div>
        </div>
        <div class="it">
            <div class="it-l">
                <text class='txt cl2ft-fldn'>订单编号：</text>
            </div>
            <div class="it-m">
                <div class="it-ml cl2ft-fldv"> <text class='txt'>${orderSn}</text></div>
            </div>
        </div>
        <div class="it">
            <div class="it-l">
                <text class='txt cl2ft-fldn'>下单时间：</text>
            </div>
            <div class="it-m">
                <div class="it-ml cl2ft-fldv"> <text class='txt'>${submitTime}</text></div>
            </div>
        </div>
    </div>
    <div class="line-space"></div>


    {{each(j,block) fieldBlocks}}
    <div class="its-b fieldBlock">

        {{each(j,field) block.fields}}
        <div class="it">
            <div class="it-l">
                <text class='txt cl2ft-fldn'>${field.name}：</text>
            </div>
            <div class="it-m">
                <div class="it-ml cl2ft-fldv"> <text class='txt'>${field.value}</text></div>
            </div>
        </div>
        {{/each}}

    </div>
    <div class="line-space"></div>
    {{/each}}


    <div class="its-odcskus orderSkus">
        {{each(j,it) skus}}
        <div class="it">
            <div class="it-l">
                <div class="imgUrl">
                    <image class="img" src="${it.imgUrl}"></image>
                </div>
            </div>
            <div class="it-m">
                <div class="it-ml">
                    <text class='name'>${it.name}</text>
                </div>
                <div class="it-mr">
                    <text class='quantity'> x ${it.quantity}</text>
                </div>
            </div>
            <div class="it-r">
                <text class='salePrice'> ${it.salePrice}</text>
            </div>
        </div>
        {{/each}}
    </div>
</script>

@section scripts{



    <script type="text/javascript">

        var id = $.lumos.getUrlParamValue("id");

        $(document).ready(function () {
            onLoad();
        });

        function onLoad() {

            $.lumos.getJson({
                url: "/Order/GetDetails",
                urlParams: { id: id },
                isShowLoading: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        //alert(JSON.stringify(d))
                        var data = d.data;
                        $('#page').html($("#page_tmpl").tmpl(data));
                    }
                    else {
                        $('#operate_result').html($("#operate_result_tmpl").tmpl(d.data));
                    }
                }
            });
        }
    </script>
}
