@model WebMobile.Models.Withdraw.ApplyViewModel
@{
    ViewBag.Title = "提现";
    Layout = "~/Views/Shared/_LayoutNavigationBar.cshtml";
}

@section styles{

    <style type="text/css">
        .btn {
            height: 2.5rem;
            width: 98%;
            background: #ff6c8d;
            color: #fff;
            line-height: 2.5rem;
            border-radius: 50px;
            text-align: center;
            display: inline-block;
            font-size: 1rem;
        }

        .item-ac-title {
            font-size: 13px;
            text-align: center;
            line-height: 24px;
            color: #f6f6f6;
        }

        .item-ac-number {
            color: #fff;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            padding-right: 5px;
        }
    </style>
}

@section headerleft{
    <span class="title">提现</span>
}


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {


            $('#btn_Sure').on("click", function () {
                var _this = this;
                var acName = $('#txt_acName').val();
                var acIdNumber = $('#txt_acIdNumber').val();
                var amount = $('#txt_amount').val();

                if ($.lumos.trim(acName) == "") {
                    $.lumos.tips("请输入微信认证姓名");
                    return false;
                }

                if ($.lumos.trim(acIdNumber) == "") {
                    $.lumos.tips("请输入与微信认证姓名同一个人身份证");
                    return false;
                }

                if (!$.lumos.isFloat(amount)) {
                    $.lumos.tips("请输入金额数字格式,最多两位小数");
                    return false;
                }

                var s = /^\d+(\.\d{1,2})?$/.test(amount);
                if (!s) {
                    $.lumos.tips("请输入金额数字格式,最多两位小数");
                    return false;
                }

                if ($(_this).attr("isone") == "true") {
                    $(_this).attr("isone", "false");
                    $.lumos.postJson({
                        url: "/Withdraw/Apply",
                        isShowLoading: true,
                        data: { amount: amount, acName: acName, acIdNumber: acIdNumber },
                        success: function (d) {
                            if (d.result == $.lumos.resultType.success) {
                                $.lumos.operateResult({
                                    result: "1",
                                    message: "提交成功",
                                    remarks: "因提现订单较多，我司统一在每月10号/20号/30号，统一进行打款到您的账户，请注意在这三天查收到账情况，有任务问题，欢迎咨询：020-8231086",
                                    button: [{
                                        name: "继续提现",
                                        color: "red",
                                        url: "/Withdraw/Apply"
                                    }, {
                                        name: "回到首页",
                                        color: "green",
                                        url: "/Personal/Index"
                                    }]
                                });
                            }
                            else {
                                $.lumos.tips(d.message);
                                $(_this).attr("isone", "true");
                            }
                        }
                    });
                }
            });
        });

    </script>
}

<div style="padding:15px;position: relative;">
    <img src="~/Content/images/withdraw-top.png" />

    <div style="width:120px;height:60px;position: absolute;  left:50%; top: 50%;  transform: translate(-50%,-50%);">

        <div class="item-ac-title"><span> 账户余额（元）</span></div>
        <div class="item-ac-number">@Model.AvailableBalance</div>
    </div>
</div>
<div style="padding:25px 15px 15px 15px">
    <ul class="list-input" style="overflow:hidden">
        <li class="list-input-item">
            <div class="item-left fl">
                <div class="fl tl item-name"><span>姓名</span></div>
                <div class="item-value fr">

                    <input id="txt_acName" placeholder="输入微信认证姓名" type="text" class="tr" style="width:100%;" />

                </div>
            </div>
        </li>
        <li class="list-input-item">
            <div class="item-left fl">
                <div class="item-name tl fl"><span>身份证号码</span></div>
                <div class="item-value fr">

                    <input id="txt_acIdNumber" placeholder="与微信认证姓名同一个人身份证" type="text" class="tr" style="width:100%;" />

                </div>
            </div>
        </li>
        <li class="list-input-item">
            <div class="item-left fl">
                <div class="item-name tl fl"><span>提现金额</span></div>
                <div class="item-value fr">

                    <input id="txt_amount" placeholder="金额" type="text" class="tr" style="width:100%;" />

                </div>
            </div>
        </li>
    </ul>

</div>
<div style="text-align:center;padding:40px;">

    <span id="btn_Sure" class="btn" operate="get" isone="true">立即提现</span>

</div>