@{
    ViewBag.Title = "提现记录";
    Layout = "~/Views/Shared/_LayoutNavigationBar.cshtml";
}

@section styles{

}

@section headerleft{
    <span class="title">提现记录</span>
}


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#list_withdraw").loadDataUl({
                url: "/Withdraw/GetMy",
                pageIndex: 0,
                searchParams: $("#form1").serializeArray(),
                searchButtonId: "btn_Search",
                loadmoreButtonId: "btn_More",
                containerId: "form1",
                rowDataCombie: function (p_index, p_row) {

                    var l_StrRows = "";

                    l_StrRows += '<li class="nav2-item">';
                    l_StrRows += '<div class="item-left fl">';
                    l_StrRows += '<img src="/Content/images/list_icon_withdraw.png" alt="" style="width:35px;height:35px;" />';
                    l_StrRows += ' </div>';
                    l_StrRows += '<div class="item-middle fl">';
                    l_StrRows += '<div class="txt-h1"><span>' + p_row.title + '</span></div>';
                    l_StrRows += '<div class="txt-h2"><span>' + p_row.applyTime + '</span></div>';
                    l_StrRows += '</div>';
                    l_StrRows += '<div class="item-right fl">';
                    l_StrRows += '<div class="txt-h1"><span>' + p_row.amount + '</span></div>';
                    l_StrRows += '<div class="txt-h2"><span style="color:' + p_row.remarksFontColor + '">' + p_row.remarks + '</span></div>';
                    l_StrRows += ' </div>';
                    l_StrRows += '</li>';


                    return l_StrRows;
                }
            });
        });
    </script>
}


<div id="page" class="gbr-row gbr-page">
    <ul id="list_withdraw" class="list-nav2 bdt0 pdlr14"></ul>

    <div class="list-result">
        <div class="img">
            <img src="~/Content/images/list_icon_empty.png" />
        </div>
        <div class="tips">
            <span></span>
        </div>
    </div>
</div>