@{
    Layout = "~/Views/Shared/_LayoutMainTabBar.cshtml";
}
@section styles{
    @RenderSection("styles", required: false)
}
@section scripts{
    @RenderSection("scripts", required: false)
}
<div class="mainsect">
    <div class="mainsect-container" style="overflow:hidden">
        @RenderBody()
    </div>
</div>
