@{
    ViewBag.Title = "资金流水";
    Layout = "~/Views/Shared/_LayoutNavigationBar.cshtml";
}

@section headerleft{
    <span class="title">资金流水</span>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#list_trans").loadDataUl({
                url: "/Fund/GetMyTrans",
                pageIndex: 0,
                searchParams: $("#form1").serializeArray(),
                searchButtonId: "btn_Search",
                loadmoreButtonId: "btn_More",
                containerId: "form1",
                rowDataCombie: function (p_index, p_row) {

                    var l_StrRows = "";

                    l_StrRows += '<li class="nav2-item">';
                    l_StrRows += '<div class="item-middle fl">';
                    l_StrRows += '<div class="txt-h1"><span>' + p_row.changeType + '</span></div>';
                    l_StrRows += '<div class="txt-h2"><span>' + p_row.transTime + '</span></div>';
                    l_StrRows += '</div>';
                    l_StrRows += '<div class="item-right fl">';
                    l_StrRows += '<div class="txt tr"><span style="color:' + p_row.changeAmountFontColor + '">' + p_row.changeAmount + '</span></div>';
                    l_StrRows += ' </div>';
                    l_StrRows += '</li>';

                    return l_StrRows;
                }
            });
        });
    </script>
}

<ul id="list_trans" class="list-nav2 bdt0 pdlr14"></ul>

<div class="list-result">
    <div class="img">
        <img src="~/Content/images/list_icon_empty.png" />
    </div>
    <div class="tips">
        <span></span>
    </div>
</div>