@{
    ViewBag.Title = "资金流水";
    Layout = "~/Views/Shared/_LayoutNavigationBar.cshtml";
}

@section styles{

    <style type="text/css">
        .list-nav1 {
            border-top: 0px solid #f6f6f6;
        }

        .list-nav1-item {
            border-bottom: 1px solid #f6f6f6;
            padding: 5px 8px 5px 8px;
        }

        .list-nav1 > .list-nav1-item:last-child {
            border-bottom: 0px;
        }

        .list-nav1-item, .list-nav1-item .item-left,
        .list-nav1-item .item-right {
            height: 50px;
            line-height: 50px;
            -webkit-tap-highlight-color: rgba(255,255,255,0);
        }

        .list-nav1-item .item-left {
            width: 80%;
        }

        .list-nav1-item .item-left .item-txt-h1 {
            height: 35px;
            line-height: 35px;
        }

        .list-nav1-item .item-left .item-txt-h2 {
            height: 15px;
            line-height: 15px;
            font-size: 12px;
            color: #999;
        }

        .list-nav1-item .item-left img {
            height: 16px;
            width: 16px;
            padding: 15px 10px 16px 0px;
        }

        .list-nav1-item .item-right {
            width: 20%;
        }

        .list-nav1-item .item-right img {
            height: 18px;
            width: 18px;
            padding: 14px 0px;
        }

        .list-result {
            display: none;
        }

        .list-result .tips {
            text-align: center;
            font-size: 14px;
            line-height: 24px;
            color: #999;
            margin: 26px;
        }

        .amountfeature-1 {
            color: #e8541e;
        }

        .amountfeature-2 {
            color: #000;
        }

        .amountfeature-3 {
            color: #000;
        }
    </style>
}

@section headerleft{
    <span class="title">资金流水</span>
}


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#list_trans").loadDataUl({
                url: "/Fund/GetMyTrans",
                pageIndex: 0,
                searchParams: $("#form1").serializeArray(),
                searchButtonId: "btn_Search",
                loadmoreButtonId: "btn_More",
                containerId: "form1",
                rowDataCombie: function (p_index, p_row) {

                    var l_StrRows = "";

                    l_StrRows += '<li class="list-nav1-item">';
                    l_StrRows += '<div class="item-left fl">';
                    l_StrRows += '<div class="item-txt-h1"><span>' + p_row.changeType + '</span></div>';
                    l_StrRows += '<div class="item-txt-h2"><span>' + p_row.transTime + '</span></div>';
                    l_StrRows += '</div>';
                    l_StrRows += '<div class="item-right fl">';
                    l_StrRows += '<div class="item-txt fr"><span class="amountfeature-' + p_row.changeFeature + '">' + p_row.changeAmount + '</span></div>';
                    l_StrRows += '</div>';
                    l_StrRows += '</li>';


                    return l_StrRows;
                },
                success: function (res) {

                }
            });
        });
    </script>
}


<ul id="list_trans" class="list-nav1 bdt0 pdlr14"></ul>

<div class="list-result">
    <div class="tips">
        <span></span>
    </div>
</div>