@{
    Layout = "~/Areas/Wb/Views/Shared/_Layout.cshtml";
}

@section styles{
    @RenderSection("styles", required: false)
}
@section scripts{
    <script src="~/Areas/Wb/Scripts/jquery.formValidator.js"></script>
    <script src="~/Areas/Wb/Scripts/jquery.formValidatorRegex.js"></script>

    @RenderSection("scripts", required: false)
}
<div class="gbr gbr-dialog">
    @RenderBody()
</div>
@section scriptsbyend{
    @RenderSection("scriptsbyend", required: false)
    <script type="text/javascript">

        $(document).ready(function () {


        });
    </script>
}


