@model WebMobile.Models.Promote.CouponViewModel
@{
    ViewBag.Title = "全优加放大招啦！9.10元秒杀代金券";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gbr gbr-main">

    <div>
        <img src="~/Content/images/promote20180910/bg_01.jpg" />
    </div>
    <div style="position: relative;">
        <img src="~/Content/images/promote20180910/bg_02.jpg" />

        <div style="position: absolute;width:100%;top:0px">
            @if (Model.PromoteIsEnd)
            {
                <div style="width:100%;top:0px;text-align: center;font-size:24px;color:#f53300;">
                    <p>该活动已经结束，谢谢关注！</p>
                </div>
            }
            else
            {
                <div style="width:50%;float:left;text-align: right;">
                    <img class="btn-com" id="btn_GoPay" src="~/Content/images/promote20180910/btn_buy.png" style="margin-right:15px;display: inline-block" />
                </div>
                <div style="width:50%;float:left;text-align:left;">
                    <img class="btn-com" id="btn_GoInvite" src="~/Content/images/promote20180910/btn_invite.png" style="margin-left:15px;display: inline-block" />
                </div>
            }
        </div>


    </div>
    <div>
        <img src="~/Content/images/promote20180910/bg_03.jpg" />
    </div>
    <div style="position: relative;">
        <img src="~/Content/images/promote20180910/bg_04.jpg" />


        <a href="/Personal/Index" >
            <img class="btn-com" id="btn_GoPersonal" src="~/Content/images/promote20180910/btn_personal.png" style="margin-right:15px;display: inline-block;    bottom: 12%;  right: 5%;    position: absolute;" />
        </a>

    </div>
</div>


@section scripts{
    <script type="text/javascript">

        $(function () {

            var promoteId = "@Model.PromoteId";
            var promoteCouponId = "@Model.PromoteCouponId";
            var refereeId = "@(Model.RefereeId==null?Request.QueryString["refereeId"]: Model.RefereeId)";
            var userId = "@(OwnRequest.GetUserInfo().UserId)";

            accessLog(promoteId, refereeId, window.document.location.href);

            $("#btn_GoPay").on("click",
                function () {
                    var _this = $(this);

                    $(_this).attr("disabled", "disabled");

                    var _data = $('#form1').serializeArray();

                    $.lumos.postJson({
                        url: "/Promote/UnifiedOrder",
                        isShowLoading: true,
                        data: { type: "1", refereeId: refereeId, orderPms: { promoteId: promoteId, promoteCouponId: promoteCouponId } },
                        success: function (d) {

                            if (d.result == $.lumos.resultType.success) {

                                var params = d.data;

                                wx.chooseWXPay({
                                    appId: params.appId,
                                    timestamp: params.timestamp,
                                    nonceStr: params.nonceStr,
                                    package: params.package,
                                    signType: params.signType,
                                    paySign: params.paySign,
                                    success: function (res) {
                                        $.lumos.tips('您已支付成功');
                                        payResultNotify(params.orderSn, res.errMsg, "/Promote/PayResult?promoteId=" + promoteId + "&orderSn=" + params.orderSn + "&isSuccessed=True");
                                    },
                                    cancel: function (res) {
                                        $.lumos.tips('您已取消支付');
                                    }
                                });
                            } else {
                                $.lumos.tips(d.message);
                                $(_btn).removeAttr("disabled");
                            }
                        }
                    });
                });



            var shareTitle = '全优加9月放大招啦！9.1元抢购代金券7200元';
            var shareDesc = '限量910张，60校同抢\n先到先得！';
            var shareLink = 'http://qyj.17fanju.com/Promote/Coupon?promoteId=' + promoteId + '&refereeId=' + userId;
            var shareImgUrl = 'http://qyj.17fanju.com/Content/images/promote20180910/share_icon.png';
            wx.ready(function () {

                wx.onMenuShareAppMessage({
                    title: shareTitle,
                    desc: shareDesc,
                    link: shareLink,
                    imgUrl: shareImgUrl,
                    trigger: function (res) {
                    },
                    success: function (res) {
                        shareLog(promoteId, refereeId, shareLink, 1);
                    },
                    cancel: function (res) {

                    },
                    fail: function (res) {
                    }
                });

                wx.onMenuShareTimeline({
                    title: shareTitle,
                    link: shareLink,
                    imgUrl: shareImgUrl,
                    trigger: function (res) {

                    },
                    success: function (res) {
                        shareLog(promoteId, refereeId, shareLink, 2);
                    },
                    cancel: function (res) {

                    },
                    fail: function (res) {

                    }
                });

            });

            $("#modal_Invite").on("click",
              function (e) {
                  $("#modal_Invite").hide();
              });


            $('#btn_GoInvite').on("click",
             function () {

                 var scrollTop = document.body.scrollTop;//网页被卷去的高
                 $("#modal_Invite").css({ top: scrollTop + "px" });
                 $("#modal_Invite").show();
                 $("#share_container").show();

                 $('#modal_Invite').bind("touchmove",
                     function (e) {
                         e.preventDefault();
                     });
                 $("#modal_Invite").bind("mousewheel",
                     function (e) {
                         //阻止浏览器默认方法
                         e.preventDefault();
                     });
             });

        });



        function payResultNotify(orderSn, res, url) {

            $.lumos.postJson({
                url: "/Promote/PayNotifyResult",
                data: { orderSn: orderSn, res: res },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        if (url != "") {
                            window.location.href = url;
                        }
                    }
                }
            });
        }

        function cancleOrder(orderSn) {

            //$.lumos.postJson({
            //    url: "/Promote/CancleOrder",
            //    data: { orderSn: orderSn, res: "用户取消支付" },
            //    success: function (d) {

            //    }
            //})
        }


    </script>
}