@model WebMobile.Models.Promote.PayResultViewModel
@{
    ViewBag.Title = "恭喜您，抢购成功";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gbr gbr-main">
    <div>
        <img src="~/Content/images/promote20180910/bg_suc_01.jpg" />
    </div>
    <div style="position: relative;">
        <img src="~/Content/images/promote20180910/bg_suc_02.jpg" />


        <div style="position: absolute;width:100%;top:0px;text-align: center;">
            <img id="btn_GetCoupon" src="~/Content/images/promote20180910/btn_getcoupon.png" style="width:100px;margin-right:15px;display: inline-block" />
        </div>


    </div>
    <div>
        <img src="~/Content/images/promote20180910/bg_suc_03.jpg" />
    </div>
    <div style="position: relative;">
        <img src="~/Content/images/promote20180910/bg_suc_04.jpg" />

        @if (Model.PromoteIsEnd)
        {
            <div style="position: absolute;width:100%;top:0px;text-align: center;">
                <img id="btn_GoPersonal" src="~/Content/images/promote20180910/btn_invite.png" style="width:100px;display: inline-block;" />
            </div>
        }



    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {

            var promoteId = "@Model.PromoteId";
            var refereeId = "@(OwnRequest.GetUserInfo().UserId)";

            $("#btn_GetCoupon").on("click",
                function () {
                    var _this = $(this);

                    $.lumos.postJson({
                        url: "/Promote/GetCardList",
                        data: { promoteId: promoteId },
                        success: function (d) {

                            var cards = d.data;
                            var cardList = [];
                            for (var p in cards) {
                                cardList.push({ cardId: cards[p].cardId, cardExt: cards[p].cardExt });
                            }

                            wx.addCard({
                                cardList: cardList,
                                success: function (res) {
                                    $.lumos.tips('成功领取卡券');
                                    addCouponNotifyResult(cardList);
                                },
                                cancel: function (res) {
                                }
                            });

                        }
                    });

                });

            $("#btn_OpenCoupon").on("click",
          function () {
              var _this = $(this);


              $.lumos.postJson({
                  url: "/Promote/GetCardList",
                  data: { promoteId: promoteId },
                  success: function (d) {
                      var cards = d.data;
                      var cardList = [];
                      for (var p in cards) {
                          cardList.push({ cardId: cards[p].cardId, code: cards[p].code });
                      }

                      wx.openCard({
                          cardList: cardList,
                          cancel: function (res) {

                          }
                      });
                  }
              });
          });

            var shareTitle = '全优加9月放大招啦！';
            var shareDesc = '9.10元抢购代金券7200元 邀请好友买券报课还可获500元现金奖';
            var shareLink = 'http://mobile.17fanju.com/Promote/Coupon?promoteId=' + promoteId + '&refereeId=' + refereeId;
            var shareImgUrl = 'http://mobile.17fanju.com/Content/images/promote20180910/share_icon.png';
            wx.ready(function () {

                wx.onMenuShareAppMessage({
                    title: shareTitle,
                    desc: shareDesc,
                    link: shareLink,
                    imgUrl: shareImgUrl,
                    trigger: function (res) {
                    },
                    success: function (res) {

                    },
                    cancel: function (res) {

                    },
                    fail: function (res) {
                    }
                });

                wx.onMenuShareTimeline({
                    title: shareTitle,
                    link: shareLink,
                    imgUrl: shareImgUrl,
                    trigger: function (res) {

                    },
                    success: function (res) {

                    },
                    cancel: function (res) {

                    },
                    fail: function (res) {

                    }
                });

            });

            $("#modal_Invite").on("click",
              function (e) {
                  $("#modal_Invite").hide();
              });


            $('#btn_GoInvite').on("click",
             function () {

                 var scrollTop = document.body.scrollTop;//网页被卷去的高
                 $("#modal_Invite").css({ top: scrollTop + "px" });
                 $("#modal_Invite").show();
                 $("#share_container").show();

                 $('#modal_Invite').bind("touchmove",
                     function (e) {
                         e.preventDefault();
                     });
                 $("#modal_Invite").bind("mousewheel",
                     function (e) {
                         //阻止浏览器默认方法
                         e.preventDefault();
                     });
             });

        });

        function addCouponNotifyResult(cards) {


            var cardList = [];
            for (var p in cards) {
                if (cards[p].isSuccess) {
                    cardList.push({ wxCouponId: cards[p].cardId, wxCouponOpenCode: cards[p].code });
                }
            }

            $.lumos.postJson({
                url: "/Promote/AddCouponNotifyResult",
                data: { promoteId: promoteId, coupons: cardList },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {

                    }
                }
            });
        }

    </script>
}
