@{
    ViewBag.Title = "Coupon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Coupon</h2>

<input type="button" value="领取代金卷到卡包" id="btn_GetCoupon" class="btn" />

<input type="button" value="打开卡卷" id="btn_OpenCoupon" class="btn" />

@section scripts{
    <script type="text/javascript">

        $(function () {

            var promoteId = "a999753c5fe14e26bbecad576b6a6909";

            $("#btn_GetCoupon").on("click",
                function () {
                    var _this = $(this);

                    $.lumos.postJson({
                        url: "/Promote/GetCardList",
                        data: { promoteId: promoteId },
                        success: function (d) {

                            var cards = d.data;
                            var cardList = [];
                            for (var p in cards) {
                                cardList.push({ cardId: cards[p].cardId, cardExt: cards[p].cardExt });
                            }

                            wx.addCard({
                                cardList: cardList,
                                success: function (res) {
                                    $.lumos.tips('成功领取卡券');
                                    addCouponNotifyResult(cardList);
                                },
                                cancel: function (res) {
                                }
                            });

                        }
                    });

                });



            $("#btn_OpenCoupon").on("click",
          function () {
              var _this = $(this);


              $.lumos.postJson({
                  url: "/Promote/GetCardList",
                  data: { promoteId: promoteId },
                  success: function (d) {
                      var cards = d.data;
                      var cardList = [];
                      for (var p in cards) {
                          cardList.push({ cardId: cards[p].cardId, code: cards[p].code });
                      }

                      wx.openCard({
                          cardList: cardList,
                          cancel: function (res) {

                          }
                      });
                  }
              });
          });

        });


        function addCouponNotifyResult(cards) {


            var cardList = [];
            for (var p in cards) {
                if (cards[p].isSuccess) {
                    cardList.push({ wxCouponId: cards[p].cardId, wxCouponOpenCode: cards[p].code });
                }
            }

            $.lumos.postJson({
                url: "/Promote/AddCouponNotifyResult",
                data: { promoteId: promoteId, coupons: cardList },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {

                    }
                }
            });
        }

    </script>
}
