* {
	padding: 0;
	margin: 0;
	list-style: none;
	/*font-weight: normal;*/
	font-family: "微软雅黑";
}

* {
	-webkit-touch-callout: none; /*系统默认菜单被禁用*/
	-webkit-user-select: none; /*webkit浏览器*/
	-khtml-user-select: none; /*早期浏览器*/
	-moz-user-select: none; /*火狐*/
	-ms-user-select: none; /*IE10*/
	user-select: none;
}

body {
	background: #fff;
}

input {
	-webkit-user-select: auto; /*webkit浏览器*/
}

a {
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

a, a:active, a:visited, a:hover, a:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.talign-c {
	text-align: center;
}

.cfa:after, .cfb:before {
	content: "\00A0";
	display: table;
}

.cf:after {
	clear: both;
	overflow: hidden;
}

.cf {
	zoom: 1;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.hr {
	height: 20px;
	background-color: #fff;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.operate {
	cursor: pointer;
}

.btn-s1 {
	background: #fff;
	background-color: rgba(255,255,255,0.3);
	border-radius: 18px;
	padding: 8px 20px;
	color: #fff;
	display: inline-block;
}


.hr45 {
	height: 45px;
}

/*提示框*/
.dialog-tips {
	position: fixed;
	display: none;
	outline: none;
	border: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	z-index: 550;
	line-height: 16px;
	overflow: hidden;
	border-radius: 5px;
	background: rgba(0,0,0,0.7);
	left: 50%;
	top: 70%;
	-webkit-transform: translate(-50%,-50%);
	max-width: 200px;
	text-align: center;
	padding: 5px 8px;
}

/*正在加载*/
.dialog-loading {
	position: fixed;
	display: none;
	outline: none;
	border: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	z-index: 50;
	line-height: 32px;
	overflow: hidden;
	border-radius: 5px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	width: 100px;
	text-align: center;
}


.list-nav {
	border-top: 1px solid #f6f6f6;
}

.list-nav-item {
	border-bottom: 1px solid #f6f6f6;
	padding: 0px 8px;
}

.list-nav > .list-nav-item:last-child {
	border-bottom: 0px;
}

.list-nav-item, .list-nav-item .item-left,
.list-nav-item .item-right {
	height: 45px;
	line-height: 45px;
}

.list-nav-item .item-left {
	width: 80%;
}

.list-nav-item .item-left img {
	height: 16px;
	width: 16px;
	padding: 15px 10px 16px 0px;
}

.list-nav-item .item-right {
	width: 20%;
}

.list-nav-item .item-right img {
	height: 18px;
	width: 18px;
	padding: 14px 0px;
}


.personal-info-s1-container {
	position: relative;
}

.personal-info-s1-container .item-top {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0px;
}

.personal-info-s1-container .item-bottom {
	height: 50%;
	width: 100%;
	bottom: 0px;
	position: absolute;
}

.personal-info-s1-container .item-bottom .item-left {
	width: 50%;
}

.personal-info-s1-container .item-bottom .item-right {
	width: 50%;
}


.bdb0 {
	border-top: 0px;
}

.bdt0 {
	border-top: 0px;
}

.pdlr14 {
	padding-left: 14px;
	padding-right: 14px;
}



/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
	/* some CSS here */

	.btn-com {
		width: 80px;
	}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
	/* some CSS here */

	.btn-com {
		width: 80px;
	}
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
	/* some CSS here */

	.btn-com {
		width: 80px;
	}
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
	/* some CSS here */

	.btn-com {
		width: 80px;
	}
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
	/* some CSS here */

	.btn-com {
		width: 100px;
	}
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
	/* some CSS here */

	.btn-com {
		width: 100px;
	}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* some CSS here */

	.btn-com {
		width: 100px;
	}
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {
	/* some CSS here */


	.btn-com {
		width: 100px;
	}
}
